In [6]:
import pandas as pd

In [ ]:
# parameter: path to the .csv file. It should contain a column called A (from) and B (to)
path = "All.csv"

In [ ]:
df = pd.read_csv(path)

In [7]:
df.groupby("A").count().sort_values("B", ascending=False)

             B  Importance
A
Crude Oil    3           3
S&P500       3           3
BSE          2           2
Dow Jones    2           2
Natural Gas  2           2
FTSE         1           1
Hang Seng    1           1

In [8]:
df.groupby("B").count().sort_values("A", ascending=False)

           A  Importance
B
BSE        6           6
Hang Seng  4           4
Dow Jones  2           2
FTSE       1           1
S&P500     1           1